 <div class="container">
   <h1 class="border border-secondary" >Liste de tous les jets</h1>
    <% @airplanes.each do |airplane| %>
      <%= link_to airplane_path(airplane) do %>
      <% if airplane.photos.first %>
        <%= cl_image_tag airplane.photos.first.key, height: 300, width: 400, crop: :fill %>
      <% end %>
      <p> <strong>Modèle du jet:</strong> <%= airplane.model %></p>
      <p> <strong>Localisation :</strong><%= airplane.address %></p>
      <p> <strong>Prix à la journée: </strong><%= airplane.daily_price %> €</p>
    <% end %>
   <% end %>
 </div>