<div class="container">
  <%= form_tag airplanes_path, method: :get do %>
    <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a jet"
  %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %> 
  <br>
  <h1 class="text-align: center; font-weight: bold;" >Our private jets around the world</h1>
  <br>
  <div class="card-box">
    <% @airplanes.each do |airplane| %>
    <div class="card-trip">
      <%= link_to airplane_path(airplane) do %>
        <% if airplane.photos.first %>
          <%= cl_image_tag airplane.photos.first.key, crop: :fill, id: 'photo' %>
        <% end %>    
        <div class="card-trip-infos">
          <div>
            <h2><%= airplane.model %></h2>
            <p><%= airplane.address %></p>
          </div>
          <h2 class="card-trip-pricing"><%= airplane.daily_price %> €</h2>
        </div>
      <% end %>
    </div>
    <% end %>
    <%# <div class= float right>
    </div> %>
  </div>
</div>

<div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>