<div class="container" style="display: grid; justify-content: center;">
  <%= form_tag airplanes_path, method: :get, class: 'd-flex mt-4' do %>
    <%= text_field_tag :query,
    params[:query],
    class: "form-control mr-2",
    placeholder: "Find your jet here" %>
    <%= submit_tag "Search", class: "btn-search" %>
  <% end %> 
</div>
<br>
<h1 style="text-align: center; font-weight: bold;" >🛫 Our private jets around the world 🛬</h1>
<br>
<div class="container-2">
  <div class="card-box">
    <% @airplanes.each do |airplane| %>
    <div class="card-trip">
      <%= link_to airplane_path(airplane) do %>
        <% if airplane.photos.first %>
          <%= cl_image_tag airplane.photos.first.key, crop: :fill, id: 'photo' %>
        <% end %>    
        <div class="card-trip-infos">
          <div>
            <h2><%= airplane.model %></h2>
            <p><%= airplane.address %></p>
          </div>
          <h2 class="card-trip-pricing"><%= airplane.daily_price %> €</h2>
        </div>
      <% end %>
    </div>
    <% end %>
  </div>
  <div id="map" style="width: 100%; height: 600px; margin-bottom: 10px; margin-top: 10px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
