  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <h1 style="text-align: center;">Add your plane</h1>
        <% if policy(Airplane).create? %>
          <%= simple_form_for @airplane do |f| %>
            <%= f.input :model, collection: ["Cessna Denali", "Cessna Caravan", "Cirrus SR20", "Cirrus SR22", "Dassault Falcon", "Gulfstream G700"] %>
            <%= f.input :category, collection: ["Regional jet", "Light jet", "Medium jet", "Long haul jet" ] %>
            <%= f.input :seat_capacity %>
            <%= f.input :range %>
            <%= f.input :address %>
            <%= f.input :daily_price %>
            <%= f.button :submit, class: 'btn btn-primary' %>
          <% end %>
        <% else %>
          <h2>You cannot add a plane, you need permissions !</h2>
        <% end %>
      </div>
    </div>
  </div>