

  <div class="booking mt-3">
    <div class= "one ml-5">
      <h1><%= @airplane.model%></h1>
       <% @airplane.photos.each do |photo| %>
       <%= cl_image_tag photo.key, height: 250, width: 350, crop: :fill %>
      <% end %>
    </div>

    <div class="airplane-infos ml-5">
      <li><strong> Category of the airplane:</strong> <%= @airplane.category %></li>
      <li><strong> Range:</strong> <%= @airplane.range%> km </li>
      <li><strong> Capacity : </strong><%= @airplane.seat_capacity %> people</li>
      <li><strong> Location : </strong><%= @airplane.address %></li>
      <li><strong> Price for a day: </strong><%= @airplane.daily_price %> euros</li>
   </div>
   <div class="booking-form row ml-5">
      <%= simple_form_for [@airplane, @booking] do |f| %>
         <strong> <%= f.input :start_date %> </strong>
          <strong>  <%= f.input :end_date %> </strong>
          <%= f.button :submit, class: 'btn btn-primary' %>
        <% end %>

    </div>
  </div>
<hr>
