

<div class="container">

    <h1> Modèle du jet : <%= @airplane.model %></h1>

      <p><strong>1/Modèle du jet:</strong> <%= @airplane.model %></p>
      <p><strong>2/catégorie du jet:</strong> <%= @airplane.category %></p>
      <p><strong>3/Distance:</strong> <%= @airplane.range %></p>
      <p><strong>4/Capacité :</strong><%= @airplane.seat_capacity %></p>
      <p><strong>5/Localisation :</strong><%= @airplane.address %></p>
      <p><strong>6/Prix à la journée: </strong><%= @airplane.daily_price %></p>

     </div>

      <p><strong>Propriétaire du jet:</strong> <%= @airplane.user_id %></p>




