<h1 class="container"> Hello, <%=@user.email%></h1>

<div>
<% @user.bookings.each do |booking| %>
  <div>
    <ul>
   <strong><li > <%= booking.airplane.model %> : </li> </strong>
   From <%= booking.start_date %> to <%= booking.end_date %>

   </ul>
  </div>


<% end %>
</div>


<hr>
<h1>My planes</h1>
<% @user.airplanes.each do |airplane| %>
  <% if @user.airplanes.empty? %>
  <p>You have no planes yet</p>
  <% else %>
  <ul>
  <li> <%= airplane.model %></li>
  </ul>
  <% end %>
<% end %>


