<div class="container">
  <br>
  <h1 style="text-align: center; font-weight: bold;">Hello, <%=@user.email%> 😊</h1> 
  <br>
  <h2 style="font-weight: bold; margin-left: 10px;">My bookings</h2>
  <h5 style="margin-left: 10px;">Future</h5>
  <div class="cards-dashboard">
    <% @user.bookings.each do |booking| %>
      <div class="card-product">
      <% if booking.airplane.photos.first %>
        <%= cl_image_tag booking.airplane.photos.first.key, crop: :fill %>
      <% end %>
        <div class="card-product-infos">
          <h2><%= booking.airplane.model %></h2>
          <p>From <%= booking.start_date %> to <%= booking.end_date %>
          <br>
          Total price: <%= number_with_precision(booking.airplane.daily_price * (booking.end_date - booking.start_date).to_f, precision: 0, delimiter:' ') %>€ (<span><%= number_with_precision((booking.end_date - booking.start_date).to_f, precision: 0) %> days</span>)</p>
          <%= link_to edit_booking_path(booking) do %>
            <p><i class="fas fa-pencil-alt"></i> Modify your booking
          <% end  %>
          <br>
          <%= link_to booking_path(booking), method: :delete, data: { confirm: "Are you really sure ?"} do %>
            <i class="fas fa-trash"></i> Delete your booking</p>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <h5 style="margin-left: 10px;">Past</h5>
  <hr style="border-top: 10px solid rgba(0, 0, 0, 0.1);">
  <h2 style="font-weight: bold; margin-left: 10px;">My planes</h2>
  <div class="cards-dashboard" style="margin-bottom: 10px;">
    <% @user.airplanes.each do |airplane| %>
      <div class="card-product">
        <% if airplane.photos.first %>
          <%= cl_image_tag airplane.photos.first.key, crop: :fill %>
        <% end %>
        <div class="card-product-infos">
          <h2 style="margin-bottom: 20px;"><%= airplane.model %></h2>            
            <p><%= link_to edit_airplane_path(airplane) do %>
                <i class="fas fa-pencil-alt"></i> Modify your plane
            <% end %>
            <br>
            <%= link_to airplane_path(airplane), method: :delete, data: { confirm: "Are you sure ?"} do %>
              <i class="fas fa-trash"></i> Delete your booking</p>
            <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>