<div class="container">
  <h1>Hello, <%=@user.email%> 😊</h1> 
  <br>
  <h2>My bookings</h2>
  <div class="cards">
    <% @user.bookings.each do |booking| %>
      <div class="card-product">
      <% if booking.airplane.photos.first %>
        <%= cl_image_tag booking.airplane.photos.first.key, crop: :fill %>
      <% end %>
      <%# <img src="airplane.photos.first" /> %>
        <div class="card-product-infos">
          <h2><%= booking.airplane.model %></h2>
            <p>From <%= booking.start_date %> to <%= booking.end_date %></p>
        </div>
      </div>
    <% end %>
  </div>
  <hr>
  <h2>My planes</h2>
    <% @user.airplanes.each do |airplane| %>
      <% if @user.airplanes.empty? %>
        <p>You have no planes yet</p>
      <% else %>
      <ul>
        <strong><%= airplane.model %></strong>
      </ul>
      <% end %>
    <% end %>
</div>